@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-weight: 800;
    font-size: 2.25rem;
}

.footer {
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    z-index: 999;
}